/* Add the following CSS to your index.css file */
.bg-primary-subtle {
    background-color: rgba(13, 84, 166, 0.1);
  }
  
  .text-body-secondary {
    color: #6c757d;
  }
  
  .home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }